@model _TaskRecordsViewModel


<h1>數據分析</h1>
<form asp-controller="DailyTaskRecords" asp-action="TimeTotalRecord" id="searchform">
<div class="col-12 col-md-4">
        <h6><i class="fa-regular fa-calendar"></i> 開始日期</h6>
    <input value="@ViewBag.starttime" type="date" name="starttime" id="starttime" class="form-control" />
    </div>
<div class="col-12 col-md-4">
        <h6><i class="fa-regular fa-calendar"></i> 結束日期</h6>
    <input value="@ViewBag.startend" type="date" name="endtime" id="endtime" class="form-control" />
    </div>
</form>
<hr />
<div id="totalRecords">
</div>


@section Scripts{
            <script src="~/lib/echarts.min.js"></script>
    <script>
        $(document).ready(function () {
            function performDataUpdate() {
                var startDate = new Date($('#starttime').val());
                var endDate = new Date($('#endtime').val());
                if (startDate <= endDate) {
                    $.ajax({
                        type: 'POST',
                        url: '/DataAnalysis/DailyTaskRecords/TimeTotalRecord',
                        data: $('#searchform').serialize(),
                    }).done(function (data) {
                        $('#totalRecords').html(data);
                    });
                } else {
                    alert("開始日期大於結束日期");
                    startDate = new Date(endDate); //取得結束日期
                    startDate.setDate(endDate.getDate() - 30); //取得結束日期的前七天

                    // 更新结束日期的 input 框值
                    $('#starttime').val(startDate.toISOString().split('T')[0]); //toISOString()，將日期轉為ISO格式、T是將日期及時間拆開，0是日期，1是時間
                    performDataUpdate();
                }
            }

            $('input').on('change', function (event) {
                performDataUpdate();

            });
            performDataUpdate();
        });
          $(document).on('click', '.pagination .page-link', function (e) {  //翻頁的事件
                e.preventDefault();
                    let page = $(this).data('page'); //取得點擊的頁碼
                    if (page) {
                        $.ajax({
                            type: 'POST',
                      url: '/DataAnalysis/DailyTaskRecords/TimeTotalRecord',
                                    data: $('#searchform').serialize() + "&page=" + page,
                        }).done(data => {
                           $('#totalRecords').html();//先清空
                                    $('#totalRecords').html(data); // 更新Partial
                            updatePagination(data.currentpage, data.totalpages); //更新分頁訊息
                        });
                    }
                });
    </script>
}