@section Styles
{
    <style>
        #chart {
            position: relative;
            width:400px;
            height:600px;
            overflow: hidden;
        }
    </style>
}
<h3>Coin獲得數量</h3>
<hr/>
<div id="chart"></div>
@section Scripts
{
    <script src="~/lib/echarts.min.js"></script>
    <script>
        $(document).ready(function() {
            var myChart = echarts.init(document.getElementById('chart'), null, {
                renderer: 'canvas',
                useDirtyRect: false
            });
            myChart.setOption(@Html.Raw(@ViewBag.Options));
        });
    </script>
}