<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] 再見！沙發Potato！</title>
	<link rel="icon" href="~/images/icon.png" type="image/x-icon" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	@* 	<link rel="stylesheet" href="~/lib/gentelella-master/vendors/bootstrap/dist/css/bootstrap.min.css" /> *@
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/goodbyecouchpotato.styles.css" asp-append-version="true" />
	<!-- Font Awesome -->
	@* 換成新版本，這是4.5.0<link href="~/lib/gentelella-master/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet"> *@
	<link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet">
	<!-- NProgress -->
	<link href="~/lib/gentelella-master/vendors/nprogress/nprogress.css" rel="stylesheet">
	<!-- iCheck -->
	<link href="~/lib/gentelella-master/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
	<!-- bootstrap-wysiwyg -->
	<link href="~/lib/gentelella-master/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
	<!-- Select2 -->
	<link href="~/lib/gentelella-master/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
	<!-- Switchery -->
	<link href="~/lib/gentelella-master/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
	<!-- starrr -->
	<link href="~/lib/gentelella-master/vendors/starrr/dist/starrr.css" rel="stylesheet">
	<!-- bootstrap-daterangepicker -->
	<link href="~/lib/gentelella-master/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

	<!-- Custom Theme Style -->
	<link href="~/lib/gentelella-master/build/css/custom.min.css" rel="stylesheet">
    <link href="~/css/stylesheet.css" rel="stylesheet" />
    <link href="~/css/formcenter.css" rel="stylesheet" />
	
	<link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
	@await RenderSectionAsync("Styles", required: false)
</head>
<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			<div class="col-md-3 left_col">
				<div class="left_col scroll-view">
					<div class="navbar nav_title" style="border: 0;">
						<a asp-area="" asp-controller="" asp-action="" class="site_title">
							<img src="~/images/logo.png" class="img-fluid" alt="logo"
								 width="50"
								 height="auto" />
							<span class="fs-5">再見！沙發Potato</span>
						</a>
					</div>

					<div class="clearfix"></div>


					<br />

					<!-- sidebar menu -->
					<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
						<div class="menu_section">
							<ul class="nav side-menu">
								<li>
									<a asp-area="" asp-controller="" asp-action=""><i class="fa fa-home"></i>首頁</a>
								</li>
								<li>
									<a><i class="fa fa-signal"></i>數據分析 <span class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
										<li><a asp-area="DataAnalysis" asp-controller="DailyTaskRecords" asp-action="Index">任務區</a></li>
										<li><a asp-area="DataAnalysis" asp-controller="Player" asp-action="Index">玩家區</a></li>
									</ul>
								</li>
								<li>
									<a><i class="fa fa-solid fa-list-check"></i>每日任務管理 <span class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
										<li><a asp-area="TaskManagement" asp-controller="DailyTasks" asp-action="Index">任務列表</a></li>
									</ul>
								</li>
								<li>
									<a><i class="fa fa-solid fa-cart-shopping"></i>商品管理 <span class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
										<li><a asp-area="ProductManagement" asp-controller="AccessoriesLists" asp-action="Index">商品列表</a></li>
									</ul>
								</li>
								<li>
									<a><i class="fa fas fa-user-alt"></i>會員管理 <span class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
										<li><a asp-area="MemberManagement" asp-controller="Member" asp-action="Index">會員搜尋</a></li>

									</ul>
								</li>
								<li>
									<a><i class="fa fa-comment"></i>客服管理 <span class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
										<li><a asp-area="OpinionManagement" asp-controller="Option" asp-action="Index">未回覆</a></li>
										<li><a asp-area="OpinionManagement" asp-controller="Option" asp-action="Index2">已回覆</a></li>
									</ul>
								</li>
								@if (User.IsInRole("Admin") || User.IsInRole("PermiGuard"))
								{
									<li>
										<a><i class="fa fa-edit"></i>覆核管理 <span class="fa fa-chevron-down"></span></a>
										<ul class="nav child_menu">
											<li><a asp-area="ReviewManagement" asp-controller="TASKReview" asp-action="Index">任務覆核</a></li>
											<li><a asp-area="ReviewManagement" asp-controller="ProductReview" asp-action="Index">商品覆核</a></li>
										</ul>
									</li>
								}
								@if (User.IsInRole("Admin"))
								{
								<li>
									<a><i class="fa fa-solid fa-screwdriver-wrench"></i>權限管理 <span class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
										<li><a asp-area="AdministratorManagement" asp-controller="Administrators" asp-action="Index">用戶列表</a></li>
									</ul>
								</li>
								}
							</ul>
						</div>
					</div>
					<!-- /sidebar menu -->
					<!-- /menu footer buttons -->
					<div class="sidebar-footer hidden-small">
						<a data-toggle="tooltip" data-placement="top" title="Settings">
							<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
						</a>
						<a data-toggle="tooltip" data-placement="top" title="FullScreen">
							<span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
						</a>
						<a data-toggle="tooltip" data-placement="top" title="Lock">
							<span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
						</a>
						<!-- 這裡是登出的表單 -->
						<form id="logoutForm" method="post" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Login")" style="display: inline;">
							<a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Logout" onclick="document.getElementById('logoutForm').submit();">
								<span class="glyphicon glyphicon-off" aria-hidden="true"></span>
							</a>
						</form>
					</div>
					<!-- /menu footer buttons -->
				</div>
			</div>
			<!-- top navigation -->
			<div class="top_nav">
				<div class="nav_menu">
					<div class="nav toggle">
						<a id="menu_toggle"><i class="fa fa-bars"></i></a>
					</div>
					<nav class="nav navbar-nav">
						<ul class="navbar-right">
							<li class="nav-item dropdown open" style="padding-left: 15px;">
@* 								<a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
 *@									<span>@User.Identity.Name</span>
@* 								</a> *@
@* 								<div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
									<a class="dropdown-item" asp-area="Identity" asp-controller="Account" asp-action="Logout">
										<i class="fa fa-sign-out pull-right"></i> Log Out
									</a>
								</div> *@
							</li>
						</ul>

					</nav>
				</div>
			</div>
			<!-- /top navigation -->
			<!-- page content -->
			@*      放內容的地方 *@
			<div class="right_col" role="main">
				@RenderBody()
			</div>
			<!-- /page content -->
			<!-- footer content -->
			<footer>
				<div class="pull-right">
					Goodle!Couch Potato 官方後台
				</div>
				<div class="clearfix"></div>
			</footer>
			<!-- /footer content -->
		</div>
	</div>
	@* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>  *@
	<script src="~/js/site.js" asp-append-version="true"></script>
	<!-- jQuery -->
	@* 這是2.2.3版*@
	@* <script src="~/lib/gentelella-master/vendors/jquery/dist/jquery.min.js"></script> *@
	@* 	這是3.6版，程式預設的*@
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	@* 	@*這是最新的3.7.1版 *@ @*  <script src="~/jquery/jquery.min.js"></script> *@
	<!-- Bootstrap -->
	<script src="~/lib/gentelella-master/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<!-- FastClick -->
	<script src="~/lib/gentelella-master/vendors/fastclick/lib/fastclick.js"></script>
	<!-- NProgress -->
	<script src="~/lib/gentelella-master/vendors/nprogress/nprogress.js"></script>
	<!-- bootstrap-progressbar -->
	<script src="~/lib/gentelella-master/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
	<!-- iCheck -->
	<script src="~/lib/gentelella-master/vendors/iCheck/icheck.min.js"></script>
	<!-- bootstrap-daterangepicker -->
	<script src="~/lib/gentelella-master/vendors/moment/min/moment.min.js"></script>
	<script src="~/lib/gentelella-master/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
	<!-- bootstrap-wysiwyg -->
	<script src="~/lib/gentelella-master/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
	<script src="~/lib/gentelella-master/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
	<script src="~/lib/gentelella-master/vendors/google-code-prettify/src/prettify.js"></script>
	<!-- jQuery Tags Input -->
	<script src="~/lib/gentelella-master/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
	<!-- Switchery -->
	<script src="~/lib/gentelella-master/vendors/switchery/dist/switchery.min.js"></script>
	<!-- Select2 -->
	<script src="~/lib/gentelella-master/vendors/select2/dist/js/select2.full.min.js"></script>
	<!-- Parsley -->
	<script src="~/lib/gentelella-master/vendors/parsleyjs/dist/parsley.min.js"></script>
	<!-- Autosize -->
	<script src="~/lib/gentelella-master/vendors/autosize/dist/autosize.min.js"></script>
	<!-- jQuery autocomplete -->
	<script src="~/lib/gentelella-master/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
	<!-- starrr -->
	<script src="~/lib/gentelella-master/vendors/starrr/dist/starrr.js"></script>
	<!-- Custom Theme Scripts -->
	<script src="~/lib/gentelella-master/build/js/custom.min.js"></script>

    <script src="~/lib/sweetalert2/sweetalert2.min.js"></script>
	<script>
		if (window.history.replaceState) {
			window.history.replaceState(null, null, window.location.href);
		}
	</script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>