@page
@model ResetPasswordConfirmationModel

@{
    ViewData["Title"] = "重置密碼成功";
}
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>再見！沙發Potato！</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/images/icon.png" type="image/x-icon" />
    <!--===============================================================================================-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!--===============================================================================================-->
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet">
    <!--===============================================================================================-->
    <link href="~/lib/linearicons-free-v1.0.0/icon-font.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/lib/gentelella-master/vendors/animate.css/animate.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/lib/css-hamburgers/hamburgers.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/lib/animsition/css/animsition.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/lib/gentelella-master/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <!--===============================================================================================-->
    <link href="~/lib/gentelella-master/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!--===============================================================================================-->
    <link href="~/css/login/util.css" rel="stylesheet" />
    <link href="~/css/login/main.css?v=@DateTime.Now.Ticks" rel="stylesheet" />
    <!--===============================================================================================-->
</head>
<body>
    <div class="limiter">
        <div class="container-login100" style="background-image: url('@Url.Content("~/images/bg-01.png")');">
            <div class="wrap-login100 p-t-30 p-b-50">
                <span class="login100-form-title p-b-41">
                    您的密碼已成功重置。 請 <a asp-page="./Login" class="login100-form-title p-b-41">點擊此處重新登入</a>.
                </span>
            </div>
        </div>
    </div>

    <!--===============================================================================================-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/lib/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/lib/bootstrap/dist/js/popper.js"></script>
    <script src="~/lib/gentelella-master/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/lib/gentelella-master/vendors/select2/dist/js/select2.full.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/lib/gentelella-master/vendors/moment/min/moment.min.js"></script>
    <script src="~/lib/gentelella-master/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/lib/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/js/login/main.js"></script>
</body>
</html>

